
*.apk
*.ap_
*.aab
*.dex
*.class
*.jar
*.war
*.ear
/build/
*/build/
.gradle/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/httpRequests/


*.iml
*.iws
*.ipr
.idea/

local.properties

*.jks
*.keystore

*.log
*.tmp

.DS_Store
Thumbs.db